<!-- src/app/footer/footer.component.html -->
<footer class="footer">
  <p class="note">Proptrading.live is an affiliate of Forest Park FX LTD. Forest Park FX LTD offers fee-based simulated trading
    assessments for Potential Traders. All funding assessments are provided by Forest Park FX LTD and all assessment
    fees are paid to Forest Park FX LTD. If you qualify for a Funded Account, you will be required to enter into a
    Trader Agreement with Forest Park FX LTD. Forest Park FX LTD does not provide any trading education or other
    services.</p>
  <p><i></i><a href="https://dashboardanalytix.com/client-terms-and-policies/?v=c04cd38aeb30">Privacy and Policy</a></p>
  <p>&copy; 2025 PropTrade. All rights reserved.</p>
</footer>