.market-plan {
  padding: 2rem;
  text-align: center;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    .badge {
      background-color: #e3e8f0;
      padding: 0.3rem 0.75rem;
      border-radius: 5px;
    }

    button {
      background: none;
      border: 1px solid #ccc;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
      border-radius: 5px;
      cursor: pointer;

      &.active {
        background-color: #450563;
        color: white;
        border-color: #826391;
      }
    }
  }

  .table-wrapper {
    overflow-x: auto;

    table {
      width: 80%;
      border-collapse: collapse;
      min-width: 600px;
      margin: 0 auto;

      thead {
        background-color: #450563;
        color: white;

        th {
          padding: 1rem;
        }
      }

      tbody {
        td div {
          line-height: 1.4;
        }
        
        tr {
          border-bottom: 1px solid #eee;

          td {
            padding: 1rem;
            text-align: center;

            &.fee {
              color: #450563;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .buy-button {
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background-color: #450563;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #826391;
    }
  }
}
.faq-container {
  margin-top: 2rem;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.faq-question {
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transition: transform 0.3s;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-answer.active {
  max-height: 200px; /* Adjust as needed */
  margin-top: 0.5rem;
}

